extends layout

block content
    h1(style="color: orange; text-align: center;")  
        strong Suscripciones subsRelations
    if subsRelations.length
        .row
            each entity in subsRelations
                .col-md-6
                    .card.mb-4
                        .card-body
                            h5.card-title ID de Entidad: 
                                strong #{entity.entities_id}
                            h5 Referencia: 
                                strong #{entity.reference}
                            h5 
                                | Estado: 
                                strong  
                                    span(style=`color: ${entity.status === 'active' ? 'green' : 'red'}`) #{entity.status}
                            p ID de Suscripción: 
                                strong #{entity.subs_id}
                            button.btn.btn-danger(onclick=`deleteSubscription(${JSON.stringify(entity)})`) Eliminar   
                            
                        
    else
        p No se encontraron suscripciones subsRelations.

    h1(style="color: orange; text-align: center;")  
        strong Suscripciones subsDraco
    if subsDraco.length
        //- .container
        .row
            each entity, index in subsDraco
                .col-md-6
                    .card.mb-4
                        .card-body
                            h5.card-title ID de Entidad: 
                                strong #{entity.entities_id}
                            h5 Referencia: 
                                strong #{entity.reference}
                            h5 
                                | Estado: 
                                strong  
                                    span(style=`color: ${entity.status === 'active' ? 'green' : 'red'}`) #{entity.status}
                            p ID de Suscripción: 
                                strong #{entity.subs_id}
                            button.btn.btn-danger(onclick=`deleteSubscription(${JSON.stringify(entity)})`) Eliminar   


    else
        p No se encontraron suscripciones subsDraco.

block scripts
    script.
        async function deleteSubscription(entity) {
                console.log('entity:', entity); 
            try {
                const response = await fetch('/requests/deleteSubscriptions', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(entity )
                });
                if (response.ok) {
                    alert('Subscription deleted successfully');
                    location.reload(); // Actualiza la pantalla
                } else {
                    alert('Error deleting subscription');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error deleting subscription');
            }
        }