extends layout

block content
    h1 Suscripciones subsRelations
    //- - var basePath = MODE_CONTAINERS ? '/subsControlApp' : ''
    .row.mb-4
        .col-md-6
            button.btn.btn-primary(onclick=`updateSubscriptionsTo('simulator','relations')`) Modo: Simulator
            | 
            button.btn.btn-primary(onclick=`updateSubscriptionsTo('real','relations')`) Modo: Real
        .col-md-6
            button.btn.btn-primary(onclick=`createSubsReal('relations')`) Crear Subs. Real
            | 
            button.btn.btn-primary(onclick=`createSubsSimulator('relations')`) Crear Subs: Simulator 
    if subsRelations.length
        .row
            each entity in subsRelations
                .col-md-6
                    .card.mb-4
                        .card-body
                            h5.card-title ID de Entidad: 
                                .row
                                    .col-10
                                        strong #{entity.entities_id}
                                    .col-1
                                        button.btn.btn-warning(onclick=`reactivateSubscription(${JSON.stringify(entity)},'relations')`) Reset
                                    .col-1
                            h5 Referencia: 
                                strong #{entity.reference}
                            h5 
                                | Estado: 
                                strong  
                                    span(style=`color: ${entity.status === 'active' ? 'green' : 'red'}`) #{entity.status}
                            p ID de Suscripción: 
                                strong #{entity.subs_id}
                            .row
                                .col.md-8 
                                    p Tipo de Entidad: #{entity.entities_type}
                                    p Condiciones: #{entity.conditions}
                                    p Fecha de Creación: #{entity.createdAt.toLocaleString()}
                                    p Fecha de Modificación: #{entity.modifiedAt.toLocaleString()}
                                .col.md-4
                                    p Conteo: #{entity.count}
                                    p Último Fallo: #{entity.lastFailure ? entity.lastFailure.toLocaleString() : 'N/A'}
                                    p Última Notificación: #{entity.lastNotification ? entity.lastNotification.toLocaleString() : 'N/A'}
                                    p Veces Fallidas: #{entity.timesFailed}
                                    //- button.btn.btn-danger(onclick=`deleteSubscription(${JSON.stringify(entity)})`) Eliminar   
                                    button.btn.btn-danger(onclick=`deleteSubscription(${JSON.stringify(entity)},'relations')`) Eliminar   

    else
        p No se encontraron suscripciones subsRelations.

block scripts
    //- - var basePath = MODE_CONTAINERS ? '/subsControlApp' : ''
    script(src=`/js/controlSubsPublic.js`)
