mixin styles
    style.
        li.device {
            background-repeat: no-repeat;
            background-size: 20px 20px;
            padding-left: 25px;
            padding-bottom: 2px;
            font-size: large;
        }
        ul.devices {
            list-style-type: none;
            padding: 5;
            margin: 0;
        }


mixin devicesForCrane(id)

    div(class="card m-2")
        div.card-title
            div.row
                .col-xl-9.col-sm-12
                    strong(style="margin-left:20px") Lego Crane
                    | &nbsp;
                    code(style="font-size:large") urn:ngsi-ld:LegoCrane:#{id}
                //- .col-xl-3.col-sm-12
                //-     span Modo aleatorio
                //-     input(type="checkbox" id="pruebas" name="pruebas" value="prueba" style="margin-left:10px")
        div.card-body
            ul.devices
                div.row
                    div.col
                        li.device   
                            button(id="ultrasoundSensorButton" class="btn")   
                            | &nbsp;
                            //- img(src="/img/warehouse-full.svg", alt="alt").device
                            code 
                                | &nbsp;
                                strong UltrasoundSensor#{id}
                                | &nbsp;
                                //- span.device(id=`PirSensor:${id}`) 
                                span.distance_ultrasoundSensor ...
                                //-   #{entitiesPirSensor.presence}
                    div.col
                        span.timer_ultrasoundSensor ...
    
    script.
        $(function () {

            //- const socket = io(controlConfigJSON.mode_containers ? '/simulatorApp' : '/');
            const isBehindProxy = window.location.port === "80" || window.location.port === "";
            const socket = isBehindProxy 
                ? io('', { path: '/simulatorApp/socket.io' }) 
                : io();


            socket.on('update_ultrasoundSensor', function(distance_ultrasoundSensor) {
                $('.distance_ultrasoundSensor').text(distance_ultrasoundSensor);
            });
            
            socket.on('update_simulate', function(simulate) {
                state_ultrasoundSensor = simulate[6];
                ultrasoundSensorButton(state_ultrasoundSensor);
            });


        });

        function ultrasoundSensorButton(state_ultrasoundSensor) {
            if (state_ultrasoundSensor) {
                $('#ultrasoundSensorButton').removeClass('btn-danger').addClass('btn-success').text('ON');
            } else {
                $('#ultrasoundSensorButton').removeClass('btn-success').addClass('btn-danger').text('OFF');
            }
        }

        $(document).ready(function() {

            $('#ultrasoundSensorButton').click(function() {
                const currentState = $('#ultrasoundSensorButton').hasClass('btn-success');
                const newState = !currentState;
                // Enviar la solicitud POST para cambiar el estado
                $.post(`${route}/crane/toggle`, { state: newState }, function(response) {
                    // Actualizar el estado del botón basado en la respuesta
                    //- ultrasoundSensorButton(newState);
                });
            });

            //- ultrasoundSensorButton(controlConfigJSON.ultrasound_sensor.simulate_ultrasound_sensor);
        });