mixin styles
    style.
        li.device {
            background-repeat: no-repeat;
            background-size: 20px 20px;
            padding-left: 25px;
            padding-bottom: 2px;
            font-size: large;
        }
        ul.devices {
            list-style-type: none;
            padding: 5;
            margin: 0;
        }


mixin devicesForRailroadSwitch(id)

    div(class="card m-2")
        div.card-title
            div.row
                .col-xl-9.col-sm-12
                    strong(style="margin-left:20px") Lego Railroad Switch
                    | &nbsp;
                    code(style="font-size:large") urn:ngsi-ld:RailroadSwitch:#{id}
                //- .col-xl-3.col-sm-12
                //-     span Modo aleatorio
                //-     input(type="checkbox" id="pruebas" name="pruebas" value="prueba" style="margin-left:10px")
        div.card-body
            ul.devices
                div.row
                    div.col
                        li(style="background-image: url('/img/warehouse-full.svg')").device   
                            input(type="checkbox" id="simulate_switchSensor" name="simulate_switchSensor" value="simulate_switchSensor" )
                            | &nbsp;
                            //- img(src="/img/warehouse-full.svg", alt="alt").device
                            span.timer_switchSensor ...
                            code 
                                | &nbsp;
                                strong switchSensor#{id}
                                | &nbsp;
                                //- span.device(id=`PirSensor:${id}`) 
                                span.state_switchSensor ...
                                //-   #{entitiesPirSensor.presence}
                    div.col
                        li(style="background-image: url('/img/warehouse-full.svg')").device
                            code 
                                strong servMotorActuator#{id}
                                | &nbsp;
                                //- span.device(id=`LedDetection:${id}`)
                                span.state_servmotorAtuator ...



    script.
        $(function () {
            const socket = io();

            socket.on('update_switchSensor', function(state_switchSensor) {
                $('.state_switchSensor').text(state_switchSensor);
            });

            socket.on('update_servmotorActuator', function(state_servmotorAtuator) {
                $('.state_servmotorAtuator').text(state_servmotorAtuator);
            });
        
        });
