mixin styles
    style.
        li.device {
            background-repeat: no-repeat;
            background-size: 20px 20px;
            padding-left: 25px;
            padding-bottom: 2px;
            font-size: large;
        }
        ul.devices {
            list-style-type: none;
            padding: 5;
            margin: 0;
        }


mixin devicesForRailroadSwitch(id)

    div(class="card m-2")
        div.card-title
            div.row
                .col-xl-9.col-sm-12
                    strong(style="margin-left:20px") Lego Railroad Switch
                    | &nbsp;
                    code(style="font-size:large") urn:ngsi-ld:RailroadSwitch:#{id}
                //- .col-xl-3.col-sm-12
                //-     span Modo aleatorio
                //-     input(type="checkbox" id="pruebas" name="pruebas" value="prueba" style="margin-left:10px")
        div.card-body
            ul.devices
                div.row
                    div.col-5
                        //- li(style="background-image: url('/img/warehouse-full.svg')").device   
                        li.device   
                            button(id="switchSensorButton" class="btn")
                            | &nbsp;
                            //- img(src="/img/warehouse-full.svg", alt="alt").device
                            code 
                                | &nbsp;
                                strong switchSensor#{id}
                                | &nbsp;
                                //- span.device(id=`PirSensor:${id}`) 
                                span.state_switchSensor ...
                                //-   #{entitiesPirSensor.presence}
                    div.col-2
                            span.timer_switchSensor ...
                    div.col-5
                        li(style="background-image: url('/img/warehouse-full.svg')").device
                            code 
                                strong servMotorActuator#{id}
                                | &nbsp;
                                //- span.device(id=`LedDetection:${id}`)
                                span.state_servmotorAtuator ...



    script.
        $(function () {
            //- const socket = io(controlConfigJSON.mode_containers ? '/simulatorApp' : '/');
            const isBehindProxy = window.location.port === "80" || window.location.port === "";
            const socket = isBehindProxy 
                ? io('', { path: '/simulatorApp/socket.io' }) 
                : io();

            socket.on('update_switchSensor', function(state_switchSensor) {
                $('.state_switchSensor').text(state_switchSensor);
            });

            socket.on('update_servmotorActuator', function(state_servmotorAtuator) {
                $('.state_servmotorAtuator').text(state_servmotorAtuator);
            });

            socket.on('update_simulate', function(simulate) {
                state_switchSensor = simulate[4];
                updateSwitchSensorButton(state_switchSensor);
            });
        
        });

        function updateSwitchSensorButton(state_switchSensor) {
            if (state_switchSensor) {
                $('#switchSensorButton').removeClass('btn-danger').addClass('btn-success').text('ON');
            } else {
                $('#switchSensorButton').removeClass('btn-success').addClass('btn-danger').text('OFF');
            }
        }

        $(function () {

            $('#switchSensorButton').click(function() {
                const currentState = $('#switchSensorButton').hasClass('btn-success');
                const newState = !currentState;
                $.post(`${route}/railroadSwitch/toggle`, { state: newState }, function(response) {
                    //- updateSwitchSensorButton(newState);
                });
            });

            //- updateSwitchSensorButton(controlConfigJSON.switch_sensor.simulate_switch_sensor);
        });
