mixin styles
    style.
        li.device {
            background-repeat: no-repeat;
            background-size: 20px 20px;
            padding-left: 25px;
            padding-bottom: 2px;
            font-size: large;
        }
        ul.devices {
            list-style-type: none;
            padding: 5;
            margin: 0;
        }


mixin devicesForToll(id)

    div(class="card m-2")
        div.card-title
            div.row
                .col-xl-9.col-sm-12
                    strong(style="margin-left:20px") Lego Toll
                    | &nbsp;
                    code(style="font-size:large") urn:ngsi-ld:Toll:#{id}
                //- .col-xl-3.col-sm-12
                //-     span Modo aleatorio
                //-     input(type="checkbox" id="pruebas" name="pruebas" value="prueba" style="margin-left:10px")
        div.card-body
            ul.devices
                div.row
                    div.col
                        //- li(style="background-image: url('/img/warehouse-full.svg')").device   
                        li.device
                            //- input(type="checkbox" id="simulate_rfidSensor" name="simulate_rfidSensor" value="simulate_rfidSensor" )
                            button(id="rfidSensorButton" class="btn")
                            | &nbsp;
                            //- img(src="/img/warehouse-full.svg", alt="alt").device
                            code 
                                | &nbsp;
                                strong RfidSensor#{id}
                                | &nbsp;
                                //- span.device(id=`PirSensor:${id}`) 
                                span.uiddcode_rfidSensor ...
                                //-   #{entitiesPirSensor.presence}
                    div.col
                        span.timer_rfidSensor ...

    script.
        $(function () {

            const isBehindProxy = window.location.port === "80" || window.location.port === "";
            const socket = isBehindProxy 
                ? io('', { path: '/simulatorApp/socket.io' }) 
                : io();
        
            socket.on('update_rfidSensor', function(uiddcode_rfidSensor) {
                $('.uiddcode_rfidSensor').text(uiddcode_rfidSensor);
            });


            socket.on('update_simulate', function(simulate) {
                //- $('.state_rfidSensor').text(simulate[5]);
                state_rfidSensor = simulate[5];
                updateRfidSensor(state_rfidSensor);
            });

        });

        function updateRfidSensor(state_rfidSensor) {
            if (state_rfidSensor) {
                $('#rfidSensorButton').removeClass('btn-danger').addClass('btn-success').text('ON');
            } else {
                $('#rfidSensorButton').removeClass('btn-success').addClass('btn-danger').text('OFF');
            }
        }


        $(document).ready(function() {

            $('#rfidSensorButton').click(function() {
                const currentState = $('#rfidSensorButton').hasClass('btn-success');
                const newState = !currentState;
                // Enviar la solicitud POST para cambiar el estado
                $.post(`${route}/toll/toggle`, { state: newState }, function(response) {
                    // Actualizar el estado del botón basado en la respuesta
                    //- updateRfidSensor(newState);
                });
            });

            //- updateRfidSensor(controlConfigJSON.rfid_sensor.simulate_rfid_sensor);

        });
